<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BGN</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BGN</string>
				</array>
			</dict>
			<key>BRL</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BRL</string>
				</array>
			</dict>
			<key>CHF</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CHF</string>
				</array>
			</dict>
			<key>CNY</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CNY</string>
				</array>
			</dict>
			<key>CZK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CZK</string>
				</array>
			</dict>
			<key>DKK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>DKK</string>
				</array>
			</dict>
			<key>EUR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>EUR</string>
				</array>
			</dict>
			<key>GBP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>GBP</string>
				</array>
			</dict>
			<key>HRK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HRK</string>
				</array>
			</dict>
			<key>HUF</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>HUF</string>
				</array>
			</dict>
			<key>IDR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IDR</string>
				</array>
			</dict>
			<key>ILS</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ILS</string>
				</array>
			</dict>
			<key>INR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>INR</string>
				</array>
			</dict>
			<key>JPY</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>JPY</string>
				</array>
			</dict>
			<key>KRW</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>KRW</string>
				</array>
			</dict>
			<key>MYR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MYR</string>
				</array>
			</dict>
			<key>NOK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>NOK</string>
				</array>
			</dict>
			<key>PHP</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PHP</string>
				</array>
			</dict>
			<key>PLN</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PLN</string>
				</array>
			</dict>
			<key>RON</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RON</string>
				</array>
			</dict>
			<key>RUB</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RUB</string>
				</array>
			</dict>
			<key>SEK</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SEK</string>
				</array>
			</dict>
			<key>THB</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>THB</string>
				</array>
			</dict>
			<key>TRY</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>TRY</string>
				</array>
			</dict>
			<key>ZAR</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ZAR</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>CFBundleIconName</key>
			<string></string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
</dict>
</plist>
